:root {
  --darkblue:#225378;
  --lightblue:#1695A3;
  --vividblue: #3e98dd;
  --green:#ACF0F2;
  --tan:#F3FFE2;
  --orange:#EB7F00;
  --red: tomato;
}

html {
  height: 100%;
}

body {
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 100%;
}

input, label, textarea, select, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  letter-spacing: 1px;
}

button {
  color: white;
  background: var(--darkblue);
  border: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 3px;
  padding: .7rem 1rem;
  letter-spacing: 1px;
}

.btn-small {
  width: auto;
}

.btn-secondary {
  background: var(--orange);
  margin-right: .5rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--vividblue)
}

a:visited {
  color: var(--vividblue)
}

.pull-right {
  float: right
}

.pull-left {
  float: left
}

input {
  background: #fcfcfc;
  border: 2px solid #e7e7e7;
  display: block;
  border-radius: 3px;
  font-size: 15px;
  text-align: left;
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  box-sizing : border-box;
}

.error {
  color: var(--red);
}